<html>
  <head>
    <title>{{myTitle}}</title>
  </head>
  <body>
  <div class="entry">
    {{#if author }}
      <h1>{{author.firstName}} {{author.lastName}}</h1>
    {{/if}}
    {{#list people}} {{firstName}} {{lastName}} {{/list}}
    <p>{{./name}} or {{this/name}} or {{this.name}}</p> 
    {{{ myHtmlVar }}}
    {{!-- my comment with }} goes here --}}
    <h2>Comments are awesome</h2>
    {{! my normal comment goes here }}
    
    <h1>Comments</h1>

    <div id="comments">
      {{#each comments}}
      <h2><a href="/posts/{{../permalink}}#{{id}}">{{title}}</a></h2>
      <div>{{body}}</div>
      {{/each}}
    </div>
    
    <h2>By {{fullName author}}</h2>
    
    {{#each array}}
      ({{@index}}/{{@key}}): {{this}}
    {{/each}}
    
    {{#if author}}
     <h1>{{firstName}} {{lastName}}</h1>
    {{else}}
      <h1>Unknown Author</h1>
    {{/if}}
      
    {{#my-component as |myComp|}}
    
      {{input action=(action 'sayHello' target=myComp) value=hello}}
      
    {{/my-component}}
      
    <div class="{{if isOk 'ok'}}" {{action 'sayHello'}}></div>
      
    <my-component attr={{mut hello}}></my-component>
    
    {{log "Look at me!"}}
    {{log 'Look at me!'}}

  </div>
  <button {{bind-attr title="myProperty"}}>Button with bound title</button>
  <button {{bind-attr title='myProperty'}}>Button with bound title and other string delimiters</button>
  <button {{bind-attr title="myProperty'}}>Button with bound title and other string delimiters</button>
  <button {{bind-attr title='myProperty"}}>Button with bound title and other string delimiters</button>
  </body>
</html>
